.chat-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-wrapper {
    width: 90vw;
    height: 85vh;
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.chat-box {
    flex: 2;
}

.sidebar {
    flex: 1;
    background-color: #3e3c61;
    overflow: scroll;
}

.chat-navbar {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    background-color: #2f2d52;
    padding: 10px;
    color: #fff;

}

.logo {
    font-weight: 700;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user > img {
    background-color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.user > button {
    background-color: #5d5b8d;
    font-size: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px;
}

.search {
    border-bottom: 1px solid gray;
}

.search-form {
    padding: 10px;
}

.search-form > input {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    width: 100%;
}

.search-form > input::placeholder {
    color: lightgray;
}

.search-form {
    display: flex;
    justify-content: space-between;
}

.search-form > button {
    background-color: #5d5b8d;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.user-chat {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.hover-user-chat:hover {
    background-color: #2f2d52;
    cursor: pointer;
}

.user-chat > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-chat-info {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-chat-info > button {
    font-size: 18px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #3e3c61;
    color: #fff;
}

.user-chat-info > button:hover {
    background-color: #2f2d52;
    cursor: pointer;
}

.chat-list {
    overflow: scroll;
}

.chat-info {
    height: 10%;
    background-color: #5d5b8d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: lightgray
}

.message-input {
    height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-input > input {
    outline: none;
    border: none;
    width: 80%;
    height: 100%;
    font-size: 16px;
}

.send-button {
    background-color: #8da4f1;
    border: none;
    color: #fff;
    padding: 10px;
    max-height: 100%;
    font-size: small;
    cursor: pointer;
}
